<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"
        ><h2><span class="fa fa-android"></span></h2
      ></span>
      <h4 class="company_title"><img src="../../../assets/new.png" /></h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
      <div class="container-fluid">
        <div class="row">
          <h2>Log In</h2>
        </div>
        <div class="row">
          <form
            class="form-group"
            [formGroup]="loginForm"
            (ngSubmit)="submit()"
          >
            <div class="row">
              <input
                type="email"
                class="form__input"
                placeholder="Enter email"
                placeholder="Email address"
                formControlName="email"
              />
              <span
                class="form-error"
                *ngIf="
                  !loginForm.controls['email'].valid &&
                  loginForm.controls['email'].touched
                "
              >
                Field is required
              </span>
            </div>

            <div class="row">
              <input
                type="password"
                placeholder="Password"
                formControlName="password"
                class="form__input"
              />
              <span
                class="form-error"
                *ngIf="
                  !loginForm.controls['password'].valid &&
                  loginForm.controls['password'].touched
                "
              >
                Field is required
              </span>
            </div>
            <div *ngIf="firebaseErrorMessage != ''" class="error-style">
              <span>{{ firebaseErrorMessage }}</span>
            </div>
            <div class="row">
              <button type="submit" class="btn" [disabled]="loginForm.invalid">
                Login
              </button>
            </div>
          </form>
        </div>
        <div class="row">
          <p>
            Don't have an account? <a routerLink="/register">Register Here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
